.view-icon-gallery {
  &:before { content: "\e011"; } 
}

#documents.gallery {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;


  .document {
    border-bottom: none;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    min-width: 250px;
    min-height: 250px;
  }

  .index_title {
    width: 100%;
  }

  .document-counter {
    display: none;
  }

  .index-document-functions {
    clear: left;
  }

  .document-metadata { 
    dt, dd {
      float: none;
      width: auto;
      clear: none;
      text-align: left;
      margin: 0;
      padding: 0;
    }

  }
}
