.documents-masonry {
  .document {
    max-width: 25%;
    padding: 0;
    margin: 0;

    &:hover,
    &:focus,
    &:focus-within {
      .caption-area {
        left: auto;
        width: auto;
        height: auto;
        clip: unset;
        max-height: 75%;
        overflow-y: scroll;
      }
    }

    margin-bottom: 1rem * 0.5;
    position: relative;
    width: auto;

    .thumbnail-container {
      position: relative;
      min-height: 100px;
      background-color: var(--bs-gray-300);
    }

    .img-thumbnail {
      padding: 0;
      border-radius: 0;
    }

    .caption-area {
      /* styling for documents without thumbnails */
      &:first-child {
        display: block;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0.7) !important;
      }

      padding: 5px 7px;
      background-color: rgba(0, 0, 0, 0.5) !important;
      position: absolute;
      bottom: 0;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }

    .document-counter {
      display: none;
    }

    .index_title {
      font-size: 1.25rem;
      a,
      a:hover,
      a:visited,
      a:active {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          content: "";
        }
        color: var(--bs-gray-300);
      }
    }

    .document-metadata {
      dt {
        color: var(--bs-gray-300);
      }
      dt,
      dd {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        float: none;
        width: auto;
        clear: none;
        text-align: left;
        margin: 0;
      }
    }
  }
}
