#document {

  .osd-toolbar {
    padding: 5px 0;

    a {
      cursor: pointer;
      margin: 0 5px;
    }

    .pagination {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .controls {
      float: right;
      padding: 0;
      text-align: right;
    }
  }

  .osd-image {
    border: 1px solid #ccc;
    height: 400px;

  }
}