.view-icon-slideshow {
  &:before { content: "\e158"; } 
}

$gray-light: lightgray !default;
$gray-dark: darkgray !default;

#slideshow-modal {
  .modal-dialog {
    width: 100%;
    margin: 1% auto;

    .modal-content {
      background-color: $gray-dark;
    }

    .modal-header {
      border-bottom: none;

      .close {
        color: white;
      }
    }

    .modal-body {
      padding: 1%;
      height: 90%;
    }
  }
}

#slideshow {
  height: 100%;

  .slideshow-inner {
    height: 100%;
    overflow: hidden;

    .item {
      width: 100%;
      height: 100%;
      display: table;
      vertical-align: middle;
      position: relative;

      .frame {
        margin: 0 auto;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        overflow: auto;

        img {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .carousel-control {
    background-image: none;
    height: 100%;
    width: 50px;

    .glyphicon {
      color: $gray-light;
    }
  }
  .carousel-control.left .glyphicon  {
    padding-right: 3px;
  }
  .carousel-control.right .glyphicon  {
    padding-left: 2px;
  }

  .caption {
    font-size: 14px;
    color: $gray-light;
    margin: 10px auto;
    min-width: 200px;
    max-width: 50%;
  }

  .counter {
    // background-color: $gray-light;
    border-radius: 12px;
    border: 1px solid $gray-light;
    color: $gray-light;
    font-size: 12px;
    overflow: auto;
    padding: 4px 10px;
    text-align: center;
  }
}

#documents {
  margin: 0;

  .info {
    text-align: center;
    margin-bottom: 15px;
  }

  h3 {
    background-color: whitesmoke;
    border-radius: 3px;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px 15px;
  }

  .grid {
    $square-thumb-size: 100px;

    .document {
      float: left;
      margin-right: 20px;
      margin-top: 0;
      padding-top: 0;
      border-bottom: 0;

      .thumbnail {
        border: 1px solid #999;
        border-radius: 0;
        min-width: $square-thumb-size;
        min-height: $square-thumb-size;
        overflow: hidden;
        position: relative;
        width: $square-thumb-size;

        a > img {
          position: absolute;
          max-width: none;
          max-height: none;
          left: -50%;
          top: -50%;
        }
      }
    }
  }
}
