<% view_config = local_assigns[:view_config] || blacklight_config&.view_config(document_index_view_type) %>

<div id="documents" class="<%= (Array(view_config.classes) + ["documents-#{view_config.key}"]).join(' ') %>">
  <% document_presenters = Blacklight::VERSION > '8' ? documents.map { |document| document_presenter(document) }: documents %>
  <div class="grid">
    <%= render((view_config.preview_component || Blacklight::Gallery::SlideshowPreviewComponent).with_collection(document_presenters)) %>
  </div>

  <%= render Blacklight::Gallery::SlideshowModalComponent.new do %>
    <%= render Blacklight::Gallery::SlideshowPresenterComponent.new(document_presenters:,
                                                                    view_config:,
                                                                    counter_offset: @response&.start || 0) %>
  <% end %>
</div>
