<% # container for all documents in slideshow view -%>
<div id="documents" class="row slideshow">
  <div class="info">
    <h3><%= t(:'blacklight_gallery.catalog.document_slideshow.header') %></h3>
  </div>

  <div class="grid">
    <%= render collection: documents, as: :document, partial: 'grid_slideshow' %>
  </div>

  <%= render layout: 'slideshow_modal', locals: {documents: documents} do %>
    <%= render partial: 'slideshow', locals: {documents: documents} %>
  <% end %>
</div>
