<div class="document">
  <div class="thumbnail">
    <%= link_to '#', data: { :'slide-to' => document_counter, toggle: "modal", target: "#slideshow-modal" } do %>
      <% if thumbnail_url(document) %>
          <%= image_tag thumbnail_url(document), class: 'img-thumbnail', alt: index_presenter(document).heading %>
        <% else %>
          <%= t('.missing_image', scope: [:blacklight_gallery]) %>
        <% end %>
    <% end %>
  </div>
</div>
