      <div class="item<%= ' active' if document_counter == 0 %>">
        <%= image_tag thumbnail_url(document) %>
        <div class="carousel-caption">
          <%= render_document_index_label document, label: document_show_link_field(document) %>
        </div>
      </div>

