  <div id="slideshow" class="">
    <!-- Wrapper for slides -->
    <div class="slideshow-inner">
      <%= render collection: documents, as: :document, partial: 'index_slideshow', locals: {count: documents.count} %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control prev" href="#slideshow" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control next" href="#slideshow" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>

